{
	auto_https disable_redirects
}

rpi4.lamancha-alhena.ts.net, http://rpi4.lamancha-alhena.ts.net

handle_path /downloads/* {
	file_server {
		root /srv/downloads
		browse
	}
}

redir /qbt /qbt/
handle_path /qbt/* {
	reverse_proxy localhost:8081
}

redir /UI/* /jett{uri}
rewrite /jett /jett/
handle_path /jett/* {
	reverse_proxy localhost:9117
}

redir /j /j/
handle_path /j/* {
	reverse_proxy localhost:8096
}
